.about {
    text-align: center;
}

.about h1 {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: bold;
}

.about p {
    max-width: 500px;
    margin: 0 auto 1.5em;
    line-height: 1.4;
}